.formContainer {
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    border-color: black;
    border-style: solid;
    width: 500px;
    height: 500px;
    border-radius: 25px;
}

.radioBtn {
    margin-top: 100px;
    margin-bottom: 100px;
}

.authContainer {
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    border-color: black;
    border-style: solid;
    width: 500px;
    height: 500px;
    border-radius: 25px;
}

.authDiv {
    margin-top: 150px;
}